@using SFA.DAS.ProviderApprenticeshipsService.Web.Models
@model ApprenticeshipViewModel

@{
    ViewBag.Title = "Edit Apprentice";
    ViewBag.PageId = "apprentice-edit";
}

@section pageSpecificJS {
    @Scripts.Render("~/bundles/apprentice")
}
<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("ConfirmChanges")" novalidate="novalidate">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            @Html.AntiForgeryToken()

            @if (Model.HasStarted)
            {
                @Html.Partial("EditStartedApprenticeship", Model)
            }
            else
            {
                @Html.Partial("EditApprenticeship", Model)
            }

            @Html.HiddenFor(m => m.HashedCommitmentId)
            @Html.HiddenFor(m => m.ProviderId)
            @Html.HiddenFor(m => m.AgreementStatus)
            @Html.HiddenFor(m => m.EmployerRef)
            <button type="submit" class="button">Update details</button>
            <a class="links" href="@Url.Action("Details", new { Model.HashedApprenticeshipId })" aria-label="Cancel">Cancel</a>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", new { Model.HashedApprenticeshipId })" aria-label="Back to apprenticeship details" class="back-link">Back to apprenticeship details</a>
    </div>
}