@using SFA.DAS.ProviderApprenticeshipsService.Web.Models
@model ApprenticeshipViewModel

@{
    ViewBag.Title = "Edit Apprentice";
    ViewBag.PageId = "apprentice-edit";
}

@section pageSpecificJS {
    @Scripts.Render("~/bundles/apprentice")
    @Scripts.Render("~/bundles/characterLimitation")
    @Scripts.Render("~/bundles/lengthLimitation")
}

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("ConfirmChanges")" novalidate="novalidate">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            @Html.AntiForgeryToken()

            <h1 class="heading-xlarge">Edit apprentice</h1>

            @if (Model.HasStarted)
            {
                @Html.Partial("EditStartedApprenticeship", Model)
            }
            else
            {
                @Html.Partial("EditApprenticeship", Model)
            }

            @Html.HiddenFor(m => m.HashedCommitmentId)
            @Html.HiddenFor(m => m.ProviderId)
            @Html.HiddenFor(m => m.AgreementStatus)
            @Html.HiddenFor(m => m.EmployerRef)
            @Html.HiddenFor(m => m.IsLockedForUpdate)
            @Html.HiddenFor(m => m.IsUpdateLockedForStartDateAndCourse)
            @Html.HiddenFor(m => m.IsEndDateLockedForUpdate)
            @Html.HiddenFor(m => m.ReservationId)
            @Html.HiddenFor(m => m.IsContinuation)

            @* next line deliberately commented: add in to support transfer validation rules in manage your apprentices *@
            @*@Html.HiddenFor(m => m.IsPaidForByTransfer)*@

            <button type="submit" class="button button-left-align" id="submit-edit-details">Update details</button>
            <a class="link-left-aligned" href="@Url.Action("Details", new { Model.HashedApprenticeshipId })" aria-label="Cancel">Cancel and return</a>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", new { Model.HashedApprenticeshipId })" aria-label="Back to apprenticeship details" class="back-link">Back to apprenticeship details</a>
    </div>
}