@using SFA.DAS.Commitments.Api.Types.DataLock.Types
@using SFA.DAS.ProviderApprenticeshipsService.Web.Extensions
@using SFA.DAS.ProviderApprenticeshipsService.Web.Models.DataLock
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.DataLock.DataLockMismatchViewModel

@{
    ViewBag.Title = "Request restart";

    var datalock = Model.DataLockSummaryViewModel.DataLockWithCourseMismatch
        .Where(x => x.TriageStatusViewModel == TriageStatusViewModel.Unknown)
        .OrderBy(x => x.IlrEffectiveFromDate)
        .First();
}


<div class="grid-row">
    <div class="column-two-thirds">
        @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

        <h1 class="heading-xlarge">Details of ILR data mismatch</h1>

        <p>Details for this apprentice are different in your organisation's ILR submission. </p>


        <table class="edited-changes">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Period</th>
                <th scope="col">Apprenticeship service</th>
                <th scope="col">ILR submission</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>Apprenticeship training course</td>
                <td>
                    @if (datalock.IlrEffectiveFromDate.HasValue)
                    {
                        @datalock.IlrEffectiveFromDate.Value.ToGdsFormat()
                    }
                    else
                    {
                        <span>--</span>
                    }
                </td>
                <td>@Model.DasApprenticeship.TrainingName </td>
                <td class="changed-item">@datalock.IlrTrainingCourseName </td>
            </tr>

            @if (datalock.DataLockErrorCode.HasFlag(DataLockErrorCode.Dlock07))
            {
                <tr>
                    <td>Total cost of training</td>
                    <td>
                        @if (Model.DasApprenticeship.StartDate.DateTime.HasValue)
                        {
                            @Model.DasApprenticeship.StartDate.DateTime.Value.ToGdsFormat()
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </td>
                    <td>@Model.DasApprenticeship.Cost.AsNullableDecimal().FormatCost() </td>
                    <td class="changed-item">@datalock.IlrTotalCost.FormatCost()</td>
                </tr>
            }

            @if (datalock.DataLockErrorCode.HasFlag(DataLockErrorCode.Dlock09))
            {
                <tr>
                    <td>Planned training start date</td>
                    <td>--</td>
                    <td>
                        @Model.DasApprenticeship.StartDate.DateTime.Value.ToGdsFormat()
                    </td>
                    <td class="changed-item">@datalock.IlrActualStartDate.Value.ToGdsFormat()</td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>


<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("RequestRestart")" novalidate="novalidate">
           
            @Html.AntiForgeryToken()
            <div class="form-group">
                <fieldset>
                    <h2 class="heading-medium">How do you want to fix the mismatch?</h2>
                    <legend class="visually-hidden">How do you want to fix the mismatch?</legend>
                    <div class="form-group @Html.AddClassIfPropertyInError(x => x.SubmitStatusViewModel, "error")">
                        @Html.ValidationMessageFor(m => m.SubmitStatusViewModel, "Please choose an option", new { id = "error-message-" + Html.IdFor(m => m.SubmitStatusViewModel) })
                        <label class="block-label selection-button-radio" for="@RadioButtonId(SubmitStatusViewModel.Confirm)">
                            @Html.RadioButtonFor(m => m.SubmitStatusViewModel, SubmitStatusViewModel.Confirm, new { id = RadioButtonId(SubmitStatusViewModel.Confirm) })
                            <span>
                                Ask the employer to restart the apprenticeship
                            </span>
                        </label>

                        @*<label class="block-label selection-button-radio" for="@RadioButtonId(SubmitStatusViewModel.UpdateDataInIlr)">
                            @Html.RadioButtonFor(m => m.SubmitStatusViewModel, SubmitStatusViewModel.UpdateDataInIlr, new { id = RadioButtonId(SubmitStatusViewModel.UpdateDataInIlr) })
                            <span>Update the details through the ILR instead</span>
                        </label>*@

                        <label class="block-label selection-button-radio" for="@RadioButtonId(SubmitStatusViewModel.None)">
                            @Html.RadioButtonFor(m => m.SubmitStatusViewModel, SubmitStatusViewModel.None, new { id = RadioButtonId(SubmitStatusViewModel.None) })
                            <span>Leave for now</span>
                        </label>

                    </div>
                    @Html.HiddenFor(m => datalock.DataLockEventId)
                    <input type="submit" class="button" id="fix-mismatch" value="Continue" />
                </fieldset>
            </div>
        </form>
    </div>
</div>


@functions
{

    public string RadioButtonId(SubmitStatusViewModel statusViewModel)
    {
        return $"{Html.IdFor(m => m.SubmitStatusViewModel)}-{statusViewModel}";
    }

}

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details")" aria-label="Back to apprentice details" class="back-link">Back to apprentice details</a>
    </div>
}