@using SFA.DAS.ProviderApprenticeshipsService.Web.Extensions
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.ApprenticeshipUpdate.ReviewApprenticeshipUpdateViewModel
@{
    ViewBag.Title = "Review changes";
    ViewBag.PageId = "review-changes";
}

<h1 class="heading-xlarge">Review changes</h1>

<form method="POST" action="@Url.Action("ReviewChanges")" novalidate="novalidate">
    @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
    @Html.AntiForgeryToken()

    <div class="grid-row list-apprentice">
        <div class="column-two-thirds">

            <p>@Model.LegalEntityName have suggested these changes:</p>

            @Html.Partial("ApprenticeshipUpdate", Model)

            <h1 class="heading-medium">Are you happy to approve these changes?</h1>
            <fieldset>
                <legend class="visually-hidden">Are you happy to approve these changes?</legend>

                <div class="form-error-group form-group @Html.AddClassIfPropertyInError(x => x.ApproveChanges, "error")">
                    <div>
                        @Html.ValidationMessageFor(m => m.ApproveChanges, "Please choose an option", new { id = "error-message-" + Html.IdFor(m => m.ApproveChanges) })
                    </div>

                    <label class="block-label selection-button-radio" for="changes-confirmed-true">
                        @Html.RadioButton("ApproveChanges", true, new { id = "changes-approved-true" })
                        Yes, approve these changes
                    </label>
                    <label class="block-label selection-button-radio" for="changes-confirmed-false">
                        @Html.RadioButton("ApproveChanges", false, new { id = "changes-approved-false" })
                        No, reject these changes
                    </label>
                </div>
            </fieldset>

            @Html.Hidden("OriginalApprenticeshipDecoded", @Json.Encode(Model.OriginalApprenticeship))
            <button type="submit" class="button" aria-label="Finish">Continue</button>

            @Html.ActionLink("Cancel and return", "Details", new { providerId = Model.OriginalApprenticeship.ProviderId, hashedApprenticeshipId = Model.HashedApprenticeshipId })

        </div>

        <div class="column-one-third">
        </div>
    </div>
</form>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", new { Model.HashedApprenticeshipId })" aria-label="Back to apprenticeship details" class="back-link">Back to apprenticeship details</a>
    </div>
}