@using SFA.DAS.ProviderApprenticeshipsService.Web.Extensions
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.ApprenticeshipUpdate.UndoApprenticeshipUpdateViewModel
@{
    ViewBag.Title = "View changes";
    ViewBag.PageId = "view-changes";
}

<h1 class="heading-xlarge">View changes</h1>

<form method="POST" action="@Url.Action("UndoChanges")" novalidate="novalidate">
    @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
    @Html.AntiForgeryToken()

    <div class="grid-row list-apprentice">
        <div class="column-two-thirds">

            <p>@Model.LegalEntityName are reviewing these changes:</p>
            
            @Html.Partial("ApprenticeshipUpdate", Model)

            <h1 class="heading-medium">Do you want to undo these changes?</h1>
            <fieldset>
                <legend class="visually-hidden">Do you want to undo these changes?</legend>

                <div class="form-error-group form-group @Html.AddClassIfPropertyInError(x => x.ConfirmUndo, "error")">
                    <div>
                        @Html.ValidationMessageFor(m => m.ConfirmUndo, "Please choose an option", new { id = "error-message-" + Html.IdFor(m => m.ConfirmUndo) })
                    </div>

                    <label class="block-label selection-button-radio" for="undo-changes-true">
                        @Html.RadioButton("ConfirmUndo", true, new { id = "undo-changes-true" })
                        Yes, undo these changes
                    </label>
                    <label class="block-label selection-button-radio" for="undone-changes-false">
                        @Html.RadioButton("ConfirmUndo", false, new { id = "undo-changes-false" })
                        No, leave these changes
                    </label>
                </div>
            </fieldset>

            @Html.Hidden("OriginalApprenticeshipDecoded", @Json.Encode(Model.OriginalApprenticeship))
            <button type="submit" class="button" aria-label="Finish">Continue</button>

        </div>

        <div class="column-one-third">
        </div>
    </div>


</form>