@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.UploadApprenticeshipsViewModel

@{
    ViewBag.Title = "Bulk upload apprentices";
    ViewBag.PageId = "upload-apprenticeships";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    From 26 August 2021 we are changing the fields for Apprenticeship bulk uploads
                </p>    
                    You can find a full list in the <a class="govuk-notification-banner__link" href="https://www.gov.uk/government/publications/apprenticeship-service-bulk-upload-specification">bulk upload specification</a>.                
            </div>
        </div>

        <h1 class="heading-xlarge">Bulk upload @(Model.IsPaidByTransfer ? "transfers" : "apprentices")</h1>
        <p>You can add details of multiple apprentices at the same time (bulk upload) using a csv file.@(Model.IsPaidByTransfer ? " All apprentices uploaded must be on an apprenticeship standard." : null)</p>

        <div class="panel panel-border-wide">
            <p>
                Uploading a file will overwrite any existing apprentice information in your cohort.
            </p>
        </div>

        <details>
            <summary><span class="summary">Help with bulk upload</span></summary>
            <div class="panel panel-border-narrow">
                <p>
                    You must use a csv file to upload apprentice details.
                </p>
                <p>
                    If you have a management information system, it may be able to create a csv file for you.
                </p>
                <p>
                    Alternatively, a bulk upload template and further details of each field are available - <a href="https://www.gov.uk/government/publications/apprenticeship-service-bulk-upload-specification">view apprenticeship service bulk upload guidance</a>.
                </p>
            </div>
        </details>

        <form method="POST" action="@Url.Action("UploadApprenticeships")" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <label class="form-label hidden" for="files-upload">Upload file</label>
            @Html.ValidationMessageFor(m => m.Attachment, null, new { id = "error-message-" + Html.IdFor(m => m.Attachment) })
            <input id="files-upload" accept=".csv" type="file" name="@Html.NameFor(m => m.Attachment)">

            @Html.HiddenFor(m => m.ProviderId)
            @Html.HiddenFor(m => m.HashedCommitmentId)

            <input class="button upload-file-btn" type="submit" value="Upload file" id="submit-upload-apprentices">
        </form>
    </div>
</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">

            <li><a href="@Url.Action("Details", "Commitment")" aria-label="Back" class="back-link">Back</a></li>

        </ol>
    </div>
}