@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.UploadApprenticeshipsViewModel

@{
    ViewBag.Title = "Upload apprenticeships unsuccessful";
    ViewBag.PageId = "upload-error";
}

@functions
{

    string PluraliseString(int errorCount, string str)
    {
        return errorCount > 1 ? $"{str}s" : str;
    }

    string PluraliseStringIsAre(int errorCount)
    {
        return errorCount > 1 ? "are" : "is";
    }

}
<div class="grid">
    <div class="column-full">
        <h1 class="heading-xlarge">Upload stopped</h1>
        <p class="dynamic-heading">There @PluraliseStringIsAre(Model.ErrorCount) <strong>@Model.ErrorCount</strong> @PluraliseString(Model.ErrorCount, "error") across <strong>@Model.RowCount</strong> records that you need to fix.</p>

        <h2 class="heading-medium">
            @PluraliseString(Model.RowCount, "Record") with @PluraliseString(Model.ErrorCount, "error") 
        </h2>

        @*@if (Model.FileErrors.Any())
        {
           <!-- If we need to display errors for the file -->
                foreach (var error in Model.FileErrors)
                 {
                     <p>
                         @error.Message
                     </p>
                 }
        }*@

        <table id="bulk-upload-errors" class="tableResponsive">
            <thead>
            <tr>
                <th scope="col">Row</th>
                <th scope="col">Unique learner number</th>
                <th scope="col">Name</th>
                <th scope="col">Date of birth</th>
                <th scope="col">@PluraliseString(Model.ErrorCount, "Error")</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var error in Model.Errors)
            {
                <tr>
                    <td>@error.RowNumber</td>
                    <td>
                        @Html.Raw(error.Uln)
                    </td>
                    <td>
                        @Html.Raw(error.Name)
                    </td>
                    <td>
                        @Html.Raw(error.DateOfBirth)
                    </td>
                    <td class="error-details">
                        @foreach (var message in error.Messages)
                        {
                            <p>
                                @Html.Raw(message)
                            </p>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <p>
            <a class="button" href="@Url.Action("UploadApprenticeships", "BulkUpload", new { Model.ProviderId, Model.HashedCommitmentId })" aria-label="Back to bulk upload">
                Back to bulk upload
            </a>
        </p>
        
        <p><a href="@Url.Action("Details", "Commitment", new { Model.ProviderId, Model.HashedCommitmentId } )" aria-label="Cancel">Cancel</a></p>

    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">

            <li><a href="@Url.Action("UploadApprenticeships", "BulkUpload")" aria-label="Back" class="back-link">Back</a></li>

        </ol>
    </div>
}