@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.UploadApprenticeshipsViewModel

@{
    ViewBag.Title = "Upload apprenticeships unsuccessful";
    ViewBag.PageId = "upload-error";
}

@functions
{

    string PluraliseString(int errorCount, string str)
    {
        return errorCount > 1 ? $"{str}s" : str;
    }

}
<div class="grid">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Review and fix upload errors</h1>
        <p>Your upload contained the following @Model.ErrorCount @PluraliseString(Model.ErrorCount,"error"). Please review the issues and try again.</p>
    </div>
</div>

@if (Model.ErrorCount > 0)
{
    <div class="grid error-grid">
        <div class="column-two-thirds">
            <div class="panel panel-border-wide alert-default">
                <p>@Model.ErrorCount @PluraliseString(Model.ErrorCount, "error") found</p>
            </div>
        </div>
    </div>
}

@if (Model.WarningsCount > 0)
{
    <div class="grid warning-grid">
        <div class="column-two-thirds">
            <div class="panel panel-border-wide alert-default">
                <p>@Model.WarningsCount @PluraliseString(Model.WarningsCount, "warning") found</p>
            </div>
        </div>
    </div>
}

<div class="grid">
    <div class="column-two-thirds">
        <hr />
        <details>
            <summary><span class="summary">Help with uploading files</span></summary>
            <div class="panel panel-border-narrow">
                <p>
                    You must use a csv file to upload details.  Some management information systems can create the file for you.  Alternatively, you can download and <a href="sampleCSVfile.csv" title="download apprentice upload template">use the apprentice upload template</a>.
                </p>
            </div>
        </details>

        <form method="POST" action="@Url.Action("UploadApprenticeships")" enctype="multipart/form-data">
            <label class="form-label hidden" for="files-upload">Upload file</label>
            <input id="files-upload" accept=".csv" type="file" name="Attachment">

            @Html.HiddenFor(m => m.ProviderId)
            @Html.HiddenFor(m => m.HashedCommitmentId)

            <input class="button upload-file-btn" type="submit" value="Upload a new file">
         
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">

            <li><a href="@Url.Action("UploadApprenticeships", "BulkUpload")" aria-label="Back" class="back-link">Back</a></li>

        </ol>
    </div>
}