@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.UploadApprenticeshipsViewModel

@{
    ViewBag.Title = "Upload apprenticeships";
    ViewBag.PageId = "upload-apprenticeships";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Upload apprenticeships</h1>
        <p>You can only upload files with a .csv extension.</p>

        <details>
            <summary><span class="summary">Help uploading files</span></summary>
            <div class="panel panel-border-narrow">
                <p>
                    You must use a csv file to upload details. Some management information systems can create the file for you. Alternatively, you can download and <a href="~/dist/csv/UploadSample.csv" title="download apprentice upload template">use the apprentice upload template</a>.
                </p>
            </div>
        </details>

        <form method="POST" action="@Url.Action("UploadApprenticeships")" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <label class="form-label hidden" for="files-upload">Upload file</label>
            @Html.ValidationMessageFor(m => m.Attachment, null, new { id = "error-message-" + Html.IdFor(m => m.Attachment) })
            <input id="files-upload" accept=".csv" type="file" name="@Html.NameFor(m => m.Attachment)">

            @Html.HiddenFor(m => m.ProviderId)
            @Html.HiddenFor(m => m.HashedCommitmentId)

            <input class="button upload-file-btn" type="submit" value="Upload file">
        </form>

    </div>
</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">

            <li><a href="@Url.Action("Details", "Commitment")" aria-label="Back" class="back-link">Back</a></li>

        </ol>
    </div>
}