@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.Agreement.AgreementsViewModel

@{
    ViewBag.Title = "Organisations and Agreements";
    ViewBag.PageID = "organisations-and-agreements";
}

<div class="grid-row">
    <div class="column-full">

        <h1 class="heading-xlarge">Organisations and agreements</h1>

        <p class="dynamic-heading">Listed below is every organisation you work with on the apprenticeship service and their agreement ID.</p>

        <p class="dynamic-heading">You need to add this agreement ID to the individualised learner record (ILR) data. This allows us to provide users with better error messages whenever a data mismatch occurs.</p>

        <table class="tableResponsive employerListing">
            <thead>
                <tr>
                    <th>Organisation</th>
                    <th>Cohort ID</th>
                    <th>Agreement ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cohortAgreement in Model.CommitmentAgreements)
                {
                    <tr>
                        <td>
                            @cohortAgreement.OrganisationName
                        </td>
                        <td>
                            @cohortAgreement.CohortID
                        </td>
                        <td>
                            @cohortAgreement.AgreementID
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>You can download this data as a <a href="@Url.Action("DownloadCsv", "Agreement")" aria-label="Download agreement data in CSV format">CSV</a> 
            or <a href="@Url.Action("DownloadExcel", "Agreement")" aria-label="Download agreement data in Excel format">Excel</a> file.</p>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "Home")" aria-label="Back to account home" class="back-link">Back</a>
    </div>
}