@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.Agreement.AgreementsViewModel

@{
    ViewBag.Title = "Organisations and Agreements";
    ViewBag.PageID = "organisations-and-agreements";
}




<h1 class="govuk-heading-xl">Organisations and agreements</h1>
<p>Listed below is every organisation you work with on the apprenticeship service and their agreement ID.</p>
<p>If you are adding apprentices using file upload, you must include the agreement ID to identify the correct employer.</p>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="get" action="@Url.Action("Agreements")">
            <div class="das-search-form">
                <label for="search-form-example" class="govuk-label govuk-label--m">
                    Search organisation name
                </label>
                <div class="das-search-form__group">
                    <input id="search-form-example" title="Search" name="organisation" value="@Model.SearchText" class="govuk-input das-search-form__input" type="text">
                    <div class="das-search-form__button-wrap">
                        <button class="govuk-button das-search-form__button" type="submit">
                            Search Organisation
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(@Model.SearchText))
{
    <p><a href="@Url.Action("Agreements")">Clear search</a></p>
}

@if (Model.CommitmentAgreements.Count() == 0)
{
    <p>0 organisations match <span class="strong">'@Model.SearchText'</span></p>
}
else
{
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Organisation</th>
                <th scope="col" class="govuk-table__header">Agreement ID</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var cohortAgreement in Model.CommitmentAgreements)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        @cohortAgreement.OrganisationName
                    </td>
                    <td class="govuk-table__cell">
                        @cohortAgreement.AgreementID
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

