@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AccountHomeViewModel

@{
    ViewBag.Title = Model.ProviderName;
    ViewBag.PageId = "account-home";
}

<div class="grid-row">
    <div class="column-full home-page">
        <h1 class="heading-xlarge">@Model.ProviderName</h1>
        <p class="grey-text">UK PRN: @Model.ProviderId</p>
        <hr class="hr-double">
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p style="border: 5px solid pink; text-align: center; padding: 20px; ">
        @ViewBag.Message
    </p>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="grid-row">
                <div class="column-one-half">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("Index", "Commitment", new {providerId = Model.ProviderId})">Apprentices</a>
                    </h2>
                    <p>View, update and agree <a href="@Url.Action("Index", "Commitment", new {providerId = Model.ProviderId})">employer requests</a>, or <a href="#">update existing apprentice details</a>.
                    </p>
                    <hr />
                </div>
          </div>
    </div>
</div>



