@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AccountHomeViewModel

@{
    ViewBag.Title = Model.ProviderName;
    ViewBag.PageId = "account-home";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p style="border: 5px solid pink; text-align: center; padding: 20px; margin-top: 20px;">
        @Model.Message
    </p>
}

<div class="grid-row">
    <div class="column-full home-page">
        <h1 class="heading-xlarge">@Model.ProviderName</h1>
        <p class="grey-text">UKPRN: @Model.ProviderId</p>
        <hr class="hr-double">
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="grid-row">
            <div class="column-one-half">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("Cohorts", "Commitment", new {providerId = Model.ProviderId})">Your cohorts</a>
                    </h2>
              <p>Review, edit, approve and add apprentices to new cohorts.</p>
                <hr />
            </div>
            <div class="column-one-half">
                <h2 class="heading-medium">
                    <a href="@Url.Action("Index", "ManageApprentices", new {providerId = Model.ProviderId})">Manage your apprentices</a>
                </h2>
                <p>
                    View and update approved apprentice records.
                </p>
                <hr />
            </div>
          </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
            <h3 class="heading-medium">Instructions for the apprentices' employer</h3>
         <p>Employers need to <a href="https://www.gov.uk/guidance/manage-apprenticeship-funds" target="_blank" title="Register to manage their apprenticeship funds">register to manage their apprenticeship funds</a>. </p>
        <p>Once they've registered they need to:</p>
        <ol class="list list-number">
            <li>Add the PAYE schemes that the apprentices will be paid through.</li>
            <li>Add the organisations that will hire the apprentices.</li>
            <li>Sign agreements for their organisations so that they can spend levy funds.</li>
            <li>Add apprentices to their account so they can authorise payments to you. </li>
        </ol>  
    </div>
</div>



