@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AccountHomeViewModel

@{
    ViewBag.Title = Model.ProviderName;
    ViewBag.PageId = "account-home";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p style="border: 5px solid pink; text-align: center; padding: 20px; margin-top: 20px;">
        @Model.Message
    </p>
}

<div class="grid-row">
    <div class="column-full home-page">
        <h1 class="heading-xlarge">@Model.ProviderName</h1>
        <p class="grey-text">UK PRN: @Model.ProviderId</p>
        <hr class="hr-double">
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="grid-row">
                <div class="column-one-half">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("Cohorts", "Commitment", new {providerId = Model.ProviderId})">Manage cohorts</a>
                    </h2>
                    <p>View and respond to employer training requests.
                    </p>
                    <hr />
                </div>

            <div class="column-one-half">
                <h2 class="heading-medium">
                    <a href="@Url.Action("Index", "ManageApprentices", new {providerId = Model.ProviderId})">Manage approved apprentices</a>
                </h2>
                <p>
                    View and update existing apprentice records.
                </p>
                <hr />
            </div>
          </div>
    </div>
</div>



