@using SFA.DAS.ProviderApprenticeshipsService.Web.Helpers
@using SFA.DAS.ProviderUrlHelper.Framework;

@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AccountHomeViewModel

@{
    ViewBag.Title = Model.ProviderName;
    ViewBag.PageId = "account-home";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p style="border: 5px solid pink; text-align: center; padding: 20px; margin-top: 20px;">
        @Model.Message
    </p>
}

<div class="grid-row">
    <div class="column-full home-page">
        <h1 class="heading-xlarge">@Model.ProviderName</h1>
        <p class="grey-text">UKPRN: @Model.ProviderId</p>
        <hr class="hr-double">
    </div>
</div>


<div class="grid-row">
    <div class="column-two-thirds">

        <div class="boxes">
            @if (Model.ShowCreateCohortLink) // does user have create cohort permissions?
            {
                <div class="box">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("Create", "CreateCohort", new {providerId = Model.ProviderId})">Create a cohort</a>
                    </h2>
                    <p>Create new cohorts on behalf of an employer.</p>
                </div>
            }

            if (Html.CanShowReservationsLink()) // is reservations feature enabled?
            {
                <div class="box">
                    <h2 class="heading-medium">
                        <a href="@Url.ReservationsLink($"{Model.ProviderId}/reservations")">Get funding for non-levy employers</a>
                    </h2>
                    <p>Secure funding for a non-levy employer to train an apprentice.</p>
                </div>
            }

            <div class="box">
                <h2 class="heading-medium">
                    <a href="@Url.Action("Cohorts", "Commitment", new {providerId = Model.ProviderId})">Your cohorts</a>
                </h2>
                <p>Review, edit, approve and add apprentices to new cohorts.</p>
            </div>

            @if (Html.CanShowReservationsLink())
            {
                <div class="box">
                    <h2 class="heading-medium">
                        <a href="@Url.ReservationsLink($"{Model.ProviderId}/reservations/manage")">Manage your funding reserved for non-levy employers</a>
                    </h2>
                    <p>Add apprentice information to funding you have already reserved for non-levy employers.</p>
                </div>
            }

            <div class="box">
                <h2 class="heading-medium">
                    <a href="@Url.Action("Index", "ManageApprentices", new {providerId = Model.ProviderId})">Manage your apprentices</a>
                </h2>
                <p>View and update approved apprentice records.</p>
            </div>

            @if (Model.ShowRecruitLink)
            {
                <div class="box">
                    <h2 class="heading-medium">
                        <a href="@Url.RecruitLink($"{Model.ProviderId}")">Recruit apprentices</a>
                    </h2>
                    <p>Create a vacancy to recruit an apprentice and manage applications.</p>
                </div>
            }

            <div class="box">
                <h2 class="heading-medium">
                    <a href="@Url.Action("Agreements", "Agreement", new {providerId = Model.ProviderId})">Organisations and agreements</a>
                </h2>
                <p>Find and view organisations and their agreement IDs.</p>
            </div>
        </div>
    </div>

    @if (@Model.ShowAcademicYearBanner)
    {
        <div class="column-one-third academic-banner">
            <div class="panel alert-default">
                <h4 class="heading-small">ILR data from 2017 to 2018</h4>
                <p>It is critical that you make any amendments to your ILR data and apprenticeship service records for the 2017 to 2018 academic year before the hard close at <strong>18:00 on 18 October 2018</strong>.</p>
                <p>You will not be able to fix any mismatches in your ILR data or apprenticeship service records for the 2017 to 2018 academic year after 18 October 2018.</p>
                <p>All data must be correct in order to receive payment for activity up to and including 31 July 2018.</p>
            </div>
        </div>
    }
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h3 class="heading-medium">Instructions for the apprentices' employer</h3>
        <p>Employers need to <a href="https://www.gov.uk/guidance/manage-apprenticeship-funds" target="_blank" title="Register to manage their apprenticeship funds">register to manage their apprenticeship funds</a>. </p>
        <p>Once they've registered they need to:</p>
        <ol class="list list-number">
            <li>Add the PAYE schemes that the apprentices will be paid through.</li>
            <li>Added the employer organisations that will contract with the training provider.</li>
            <li>Sign agreements for their organisations so that they can spend levy funds.</li>
            <li>Add apprentices to their account so they can authorise payments to you. </li>
        </ol>
    </div>
</div>

