@using SFA.DAS.ProviderApprenticeshipsService.Web.Extensions;
@using SFA.DAS.Provider.Shared.UI;
@using SFA.DAS.Provider.Shared.UI.Extensions
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AccountHomeViewModel

@{
    ViewBag.Title = Model.ProviderName;
    ViewBag.ZenDeskLabel = "Training-Provider-Account-Home"; 
    ViewBag.PageId = "account-home";
    var selected = ViewData.SelectedNavigationSection();
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p style="border: 5px solid pink; text-align: center; padding: 20px; margin-top: 20px;">
    @Model.Message
    </p>
}
@if (DateTime.UtcNow < new DateTime(2023, 02, 13))
{
    <div class="govuk-notification-banner govuk-notification-banner--homepage" role="region"
    aria-labelledby="govuk-notification-banner-title-naw" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-naw">
            Reminder
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            National Apprenticeship Week: 6 to 12 February 2023
        </p>
        <p>Time to celebrate apprenticeships. Get involved with <a href="https://naw.appawards.co.uk/"
                class="govuk-link" target="_blank" rel="noopener">National Apprenticeship Week</a>.</p>
    </div>
</div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner govuk-notification-banner--homepage" role="region"
             aria-labelledby="govuk-notification-banner-title-naw" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-naw">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    Add an apprentice using ILR data
                </p>
                <p>
                    You can now add apprentices using data from ILR files you've already submitted.
                </p>
                <p>
                    Using this feature saves you time by only entering data once. It also reduces data locks, preventing payment delays.
                </p>

                <p>
                    You can find out how to do this on the <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/360009492540-Add-an-apprentice-or-change-their-status"
                                                              class="govuk-link" target="_blank" rel="noopener">Add an apprentice or change their status</a> help page.
                </p>
            </div>
        </div>
    </div>
</div>


@Model.BannerContent
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">@Model.ProviderName</h1>
<p class="govuk-hint">UKPRN: @Model.ProviderId</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



<div class="das-cards">

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="approvals" asp-external-controller="unapproved"
               asp-external-action="add/entry-method" asp-external-id="@Model.ProviderId"
               class="govuk-link @(selected == NavigationSection.YourCohorts ? "govuk-link--current" : "")">Add new
                apprentices</a>
            @* <a href="@Url.ProviderCommitmentsLink($"{Model.ProviderId}/unapproved/add/entry-method")">Add new
            apprentices</a> *@
        </h2>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
            <li>upload a CSV file</li>
            <li>manually enter details</li>
            <li>create a new cohort</li>
            <li>add to an existing cohort</li>
        </ul>
    </div>

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="relationships" asp-external-controller="addEmployer"
               asp-external-action="start" asp-external-id="@Model.ProviderId"
               class="govuk-link">Add an employer</a>
        </h2>
        <p>
            Ask an employer to create an apprenticeship service account, add you as a training provider and set your permissions.
        </p>
    </div>

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="securefunding" asp-external-controller="reservations"
               asp-external-id="@Model.ProviderId"
               class="govuk-link @(selected == NavigationSection.Reservations ? "govuk-link--current" : "")">Get
                funding for non-levy employers</a>
            @* <a href="@Url.ReservationsLink($"{Model.ProviderId}/reservations")">Get funding for non-levy
            employers</a> *@
        </h2>
        <p>Secure funding for a non-levy employer to train an apprentice.</p>
    </div>

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="relationships" asp-external-controller="employers"
               asp-external-id="@Model.ProviderId"
               class="govuk-link">View employers and manage permissions</a>
        </h2>
        <p>View your current employers and permissions, and ask an employer to update your permissions.</p>
    </div>

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="approvals" asp-external-controller="unapproved"
               asp-external-id="@Model.ProviderId"
               class="govuk-link @(selected == NavigationSection.YourCohorts ? "govuk-link--current" : "")">Apprentice
                requests</a>
            @* <a href="@Url.ProviderCommitmentsLink($"{Model.ProviderId}/unapproved")">Apprentice requests</a> *@
        </h2>
        <p>Review, edit, approve and add apprentices.</p>
    </div>

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="securefunding" asp-external-controller="reservations"
                asp-external-action="manage" asp-external-id="@Model.ProviderId"
                class="govuk-link @(selected == NavigationSection.Reservations ? "govuk-link--current" : "")">Manage
                your funding reserved for non-levy employers</a>
            @* <a href="@Url.ReservationsLink($"{Model.ProviderId}/reservations/manage")">Manage your funding reserved
            for non-levy employers</a> *@
        </h2>
        <p>Add apprentice information to funding you have already reserved for non-levy employers.</p>
    </div>

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="approvals" asp-external-controller="apprentices"
                asp-external-id="@Model.ProviderId"
                class="govuk-link @(selected == NavigationSection.ManageApprentices ? "govuk-link--current" : "")">Manage
                your apprentices</a>
            @* <a href="@Url.ProviderCommitmentsLink($"{Model.ProviderId}/apprentices")">Manage your apprentices</a> *@
        </h2>
        <p>View and update approved apprentice records.</p>
    </div>

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="recruit" asp-external-controller="" asp-external-id="@Model.ProviderId"
                class="govuk-link @(selected == NavigationSection.Recruit ? "govuk-link--current" : "")">Recruit
                apprentices</a>
            @* <a href="@Url.RecruitLink($"{Model.ProviderId}")">Recruit apprentices</a> *@
        </h2>
        <p>Create a vacancy to recruit an apprentice and manage applications.</p>
    </div>

    @if (Model.ShowTraineeshipLink)
    {
        <div class="das-card">
            <h2 class="govuk-heading-m">
                <a href="@Url.TraineeshipLink($"{Model.ProviderId}")" class="govuk-link">Recruit trainees</a>
            </h2>
            <p>Create a traineeship vacancy and manage applications.</p>
        </div>
    }

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="roatp" asp-external-controller="" asp-external-action="review-your-details"
                asp-external-id="@Model.ProviderId" class="govuk-link">Your standards and training venues</a>
        </h2>
        <p>Add and manage your standards, training venues and contact details that show on Find apprenticeship training.</p>
    </div>

    @if (Model.ShowEarningsReport)
    {
        <div class="das-card">
            <h2 class="govuk-heading-m">
                <a href="@Url.ProviderFundingLink($"{Model.ProviderId}")" class="govuk-link">Apps Indicative earnings
                    report</a>
            </h2>
            <p>View your expected earnings based on your submission to the Digital apprenticeship service.</p>
        </div>
    }

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="api-management" asp-external-controller="" asp-external-action="subscriptions"
                asp-external-id="@Model.ProviderId" class="govuk-link">Developer APIs</a>
            @* a href="@Url.APIManagementLink($"{Model.ProviderId}/subscriptions")" class="govuk-link">Developer
            APIs</a> *@
        </h2>
        <p>Integrate our APIs to help with recruitment or to track apprentice progress using your own systems. You can
            display adverts on multiple sites or automatically update training records.</p>
    </div>

    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="feedback" asp-external-controller="" asp-external-action=""
            class="govuk-link">Your feedback</a>
        </h2>
        <p>
            Your feedback from employers and apprentices.
        </p>
    </div>
    <div class="das-card">
        <h2 class="govuk-heading-m">
            <a asp-external-subdomain="requesttraining" asp-external-controller=""
               asp-external-action="active" asp-external-id="@Model.ProviderId"
               class="govuk-link @(selected == NavigationSection.Home ? "govuk-link--current" : "")">
                View employer requests for training
            </a>
        </h2>
        <p>View employer requests, share your contact details with employers and see other courses you could offer.</p>
    </div>
</div>


@if (@Model.ShowAcademicYearBanner)
{
    <div class="govuk-grid-column-one-third govuk-!-margin-left-3 academic-banner">
    <div class="panel alert-default">
        <h4 class="govuk-heading-s">ILR data from 2017 to 2018</h4>
        <p>It is critical that you make any amendments to your ILR data and apprenticeship service records for the 2017
            to 2018 academic year before the hard close at <strong>18:00 on 18 October 2018</strong>.</p>
        <p>You will not be able to fix any mismatches in your ILR data or apprenticeship service records for the 2017 to
            2018 academic year after 18 October 2018.</p>
        <p>All data must be correct in order to receive payment for activity up to and including 31 July 2018.</p>
    </div>
</div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Instructions for the apprentices' employer</h3>
        <p>Employers need to <a href="https://www.gov.uk/guidance/manage-apprenticeship-funds" target="_blank"
                rel="noopener" class="govuk-link">register to manage their apprenticeship funds</a>. </p>
        <p>Once they've registered they need to:</p>
        <ol class="govuk-list govuk-list--number">
            <li>Add the PAYE schemes that the apprentices will be paid through.</li>
            <li>Add the employer organisations that will contract with the training provider.</li>
            <li>Accept agreements for their organisations so that they can spend levy funds.</li>
            <li>Add apprentices to their account so they can authorise payments to you. </li>
        </ol>
    </div>
</div>