@using SFA.DAS.ProviderApprenticeshipsService.Web.Extensions;
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.Settings.NotificationSettingsViewModel
@{
    ViewBag.Title = "Notification settings";
    ViewBag.PageId = "notification-settings";
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section breadcrumb {
    <partial name="_BreadCrumbs" />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Styles {
    <link href="/css/app.css" rel="stylesheet" no-cdn />    
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Scripts {
    <script src="/js/site.js" no-cdn></script>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            @Html.AntiForgeryToken()
            <h1 class="govuk-heading-xl">Notification settings</h1>
            <p>Choose whether you want to receive cohort, apprentice and recruitment notification emails. These updates will be sent to the email address you use for <a target="_blank" rel="noopener noreferrer" href="https://profile.signin.education.gov.uk/">your DfE Sign-in account (opens in new tab)</a>.</p>
            <p>Changing these settings will not affect service emails, like password resets.</p>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Account name</th>
                        <th scope="col" class="govuk-table__header">Emails</th>
                        <th scope="col" class="govuk-table__header">No emails</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @for (var i = 0; i < Model.NotificationSettings.Count; i++)
                    {
                        var setting = Model.NotificationSettings[i];

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell notification-row">
                                @setting.UserRef

                                @Html.Hidden($"NotificationSettings[{i}].UserRef", setting.UserRef)
                            </td>

                            <td class="govuk-table__cell notification-row">

                                @{
                                    var trueId = $"NotificationSettings-true-{i}";
                                    var falseId = $"NotificationSettings-false-{i}";
                                }

                                <label for="@trueId" class="govuk-label govuk-radios__label" aria-label="Send emails">
                                    @* @Html.RadioButton($"NotificationSettings[{i}].ReceiveNotifications", true, setting.ReceiveNotifications, new { id = trueId }) *@
                                    <input class="govuk-radios__input" id="@trueId" asp-for="@setting.ReceiveNotifications" type="radio" value="true" checked="@setting.ReceiveNotifications" />
                                </label>

                            </td>

                            <td class="govuk-table__cell notification-row">
                                <label for="@falseId" class="govuk-label govuk-radios__label" aria-label="Stop emails">
                                    @* @Html.RadioButton($"NotificationSettings[{i}].ReceiveNotifications", false, !setting.ReceiveNotifications, new { id = falseId }) *@
                                    <input class="govuk-radios__input" id="@falseId" asp-for="@setting.ReceiveNotifications" type="radio" value="false" checked="!@setting.ReceiveNotifications" />
                                </label>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="button-group">
                <button type="submit" class="govuk-button" id="submit-email-alerts">Update</button>
                <a href="/" class="text-link">Cancel</a>
            </div>
            <a asp-external-subdomain="recruit" asp-external-controller="" asp-external-action="notifications-manage" asp-external-id="@Model.ProviderId">Manage the notifications of your recruitment emails</a>
            
        </form>
    </div>
</div>
