@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.Settings.NotificationSettingsViewModel
@{
    ViewBag.Title = "NotificationSettings";
    ViewBag.PageId = "notification-settings";
}


<div class="grid-row">
    <div class="column-two-thirds">
        <form method="post">
            @Html.AntiForgeryToken()
            <h1 class="heading-xlarge">Notification Settings</h1>
            <p>Choose whether you want to receive cohort and apprentice notification emails.</p>
            <p>Changes to these settings won't affect service emails, such as password resets.</p>

            <table>
                <thead>
                    <tr>
                        <th scope="col">Account name</th>
                        <th scope="col">Emails</th>
                        <th scope="col">No emails</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.NotificationSettings.Count; i++)
                    {
                        var setting = Model.NotificationSettings[i];

                        <tr>
                            <td class="notification-row">
                                @setting.UserRef

                                @Html.Hidden($"NotificationSettings[{i}].UserRef", setting.UserRef)
                            </td>

                            <td class="notification-row">

                                @{
                                    var trueId = $"NotificationSettings-true-{i}";
                                    var falseId = $"NotificationSettings-false-{i}";
                                }

                                <label for="@trueId" class="block-label selection-button-radio" aria-label="Send emails">
                                    @Html.RadioButton($"NotificationSettings[{i}].ReceiveNotifications", true, setting.ReceiveNotifications, new { id = trueId })
                                </label>

                            </td>

                            <td class="notification-row">
                                <label for="@falseId" class="block-label selection-button-radio" aria-label="Stop emails">
                                    @Html.RadioButton($"NotificationSettings[{i}].ReceiveNotifications", false, !setting.ReceiveNotifications, new { id = falseId })
                                </label>

                            </td>
                        </tr>
                      }
                </tbody>
            </table>

            <button type="submit" class="button" id="submit-email-alerts">Update</button>
            <a href="/" class="button text-link">Cancel</a>
        </form>
    </div>
</div>
