@using SFA.DAS.ProviderApprenticeshipsService.Web.Models
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.ChooseEmployerViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Choose an employer</h1>
        <p>@Model.Description</p>
       
        <p>@Model.LegalEntities.Count() result@(Model.LegalEntities.Count() != 1 ? "s" : null) found.</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Employer</th>
                    <th scope="col">Account name</th>
                    <th scope="col">Agreement ID</th>
                    <th scope="col"><span class="vh">Action</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var legalEntity in Model.LegalEntities)
                {
                <tr>
                    <td>@legalEntity.EmployerAccountLegalEntityName</td>
                    <td>@legalEntity.EmployerAccountName</td>
                    <td>@legalEntity.EmployerAccountLegalEntityPublicHashedId</td>
                    <td class="link-right">
                        <a href="@Url.Action("ConfirmEmployer", Model.ControllerName, new ConfirmEmployerViewModel(legalEntity, Model.EmployerSelectionAction))">Select<span class="vh"> @legalEntity.EmployerAccountLegalEntityName</span></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section breadcrumb {
<div class="breadcrumbs">
    <a href="@Url.Action("Index", "Account")" aria-label="Back to account home" class="back-link">Back</a>
</div>
}


