@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.CohortsViewModel

@{
    ViewBag.Title = "Your cohorts";
    ViewBag.PageId = "cohorts-landing-page";
}


<div class="grid-row">
    <div class="column-two-thirds">

        @if (!Model.HasSignedTheAgreement)
        {
            <div class="panel panel-border-wide alert-default">
                <p>
                    Your organisation must have a signed
                    <a href="@Model.SignAgreementUrl" target="_blank">Education and Skills Funding Agency apprenticeship agreement</a> before you can approve cohorts.
                </p>
            </div>
        }

        <h1 class="heading-xlarge">Your cohorts</h1>

        <div class="bingo-boxes">
            <div class="bingo-box @GetClickableClass(Model.ReadyForReviewCount)">
                    @if (Model.ReadyForReviewCount > 0)
                    {

                        if (Model.HasSignedTheAgreement)
                        {
                            <a href="@Url.Action("ReadyForReview")" title="@Model.ReadyForReviewCount ready for review" aria-label="View all new requests that are ready for review">
                                <h2 class="bold-xxlarge">@Model.ReadyForReviewCount</h2>
                                <p class="heading-small">Ready for review</p>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("AgreementNotSigned", new { redirectTo = "ReadyForReview" } )" title="@Model.ReadyForReviewCount ready for review" aria-label="View all new requests that are ready for review">
                                <h2 class="bold-xxlarge">@Model.ReadyForReviewCount</h2>
                                <p class="heading-small">Ready for review</p>
                            </a>
                        }
                    }
                    else
                    {
                        <h2 class="bold-xxlarge"><span>0</span></h2>
                        <p class="heading-small">Ready for review</p>
                    }    
            </div>
            <div class="bingo-box @GetClickableClass(Model.WithEmployerCount)">
                @if (Model.WithEmployerCount > 0)
                {
                <a href="@Url.Action("WithEmployer")" title="@Model.WithEmployerCount with employers" aria-label="View all new requests from that are with the employer">
                    <h2 class="bold-xxlarge">@Model.WithEmployerCount</h2>
                    <p class="heading-small">With employers</p>
                </a>
                }
                else
                {
                    <h2 class="bold-xxlarge"><span>0</span></h2>
                    <p class="heading-small">With employers</p>
                }
            </div>

            @if(@Model.ShowDrafts)
            {
                <div class="bingo-box @GetClickableClass(Model.DraftCount)">
                    @if (Model.DraftCount > 0)
                    {
                        <a href="@Url.Action("DraftList")" title="@Model.DraftCount drafts" aria-label="View all drafts">
                            <h2 class="bold-xxlarge">@Model.DraftCount</h2>
                            <p class="heading-small">
                                @(Model.DraftCount == 1 ? "Draft" : "Drafts")
                            </p>
                        </a>
                    }
                    else
                    {
                        <h2 class="bold-xxlarge"><span>0</span></h2>
                        <p class="heading-small">Drafts</p>
                    }
                </div>
            }

            @if (Model.TransferFundedCohortsCount.HasValue)
            {
            <div class="bingo-box @GetClickableClass(Model.TransferFundedCohortsCount.Value)">

                @if (Model.TransferFundedCohortsCount > 0)
                {
                    <a href="@Url.Action("TransferFunded")" title="@Model.TransferFundedCohortsCount with funding employer" aria-label="View all transfer-funded cohorts">
                        <h2 class="bold-xxlarge">@Model.TransferFundedCohortsCount</h2>
                        <p class="heading-small">With transfer sending employers</p>
                    </a>
                }
                else
                {
                    <h2 class="bold-xxlarge"><span>0</span></h2>
                    <p class="heading-small">With transfer sending employers</p>
                }

            </div>
            }
        </div>
    </div>
</div>

@functions {
    private string GetClickableClass(int requestsCount)
    {
        return requestsCount > 0 ? "clickable" : "";
    }
}



@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "Home")" aria-label="Back to account home" class="back-link">Back</a>
    </div>
}
