@using SFA.DAS.ProviderApprenticeshipsService.Web.Extentions
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.CommitmentViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">View commitment</h1>
        <table>
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>@Model.Commitment.Name</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Legal entity</th>
                    <td>@Model.Commitment.LegalEntityName</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">Apprentices</h2>
        @if (Model.Commitment.Apprenticeships.Count == 0)
        {
            <p class="panel panel-info">
                No apprentices exist for this commitment.
            </p>
        }
        else
        {
            <div class="responsive-table">
                <div class="responsive-thead">
                    <div class="responsive-tr">
                        <div class="responsive-th">Apprentice</div>
                        <div class="responsive-th">Training</div>
                        <div class="responsive-th">Status</div>
                        <div class="responsive-th"> </div>
                    </div>
                </div>
                <div class="responsive-tbody">
                    @foreach (var apprenticeship in Model.Commitment.Apprenticeships)
                    {
                        <div class="responsive-tr">
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">ApprenticeshipName</div>
                                <div>@apprenticeship.ApprenticeshipName</div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Training</div>
                                <div>@apprenticeship.TrainingName</div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Status</div>
                                <div>@apprenticeship.Status.GetDescription()</div>
                            </div>
                            <div class="responsive-td">
                                <div>
                                    <form action="@Url.Action("Edit")" method="GET">
                                        <input type="hidden" name="providerId" value="@Model.Commitment.ProviderId"/>
                                        <input type="hidden" name="commitmentId" value="@Model.Commitment.Id"/>
                                        <input type="hidden" name="apprenticeshipId" value="@apprenticeship.Id"/>
                                        <button type="submit" name="commitment" class="button">View</button>
                                    </form>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<p></p>
<form action="@Url.Action("Create")" method="GET">
    <input type="hidden" name="providerId" value="@Model.Commitment.ProviderId"/>
    <input type="hidden" name="commitmentId" value="@Model.Commitment.Id"/>
    <button type="submit" name="commitment" class="button">Add apprentice</button>
</form>
<form action="@Url.Action("Index")" method="GET">
    <input type="hidden" name="providerId" value="@Model.Commitment.ProviderId" />
    <button type="submit" name="commitment" class="button">Back</button>
</form>
