@using SFA.DAS.ProviderApprenticeshipsService.Web.Extensions
@using SFA.DAS.ProviderApprenticeshipsService.Web.Models
@model CommitmentDetailsViewModel

@{
    ViewBag.Title = "Add an apprentice";
    ViewBag.PageId = "apprentice-details";
}

<div class="grid-row">
    <div class="column-full">

        <h1 class="heading-xlarge">Review your cohort</h1>
    </div>
</div>



<div class="grid-row" id="review-cohorts">
    <div class="column-one-third all-apps">
        <div class="">
            <h2 class="bold-xlarge">@Model.Apprenticeships.Count</h2>
            <p class="heading-small">@PluraliseApprentice(Model.Apprenticeships.Count)</p>
        </div>
    </div>
    <div class="column-one-third incomplete-apps">
        <div class="">
            <h2 class="bold-xlarge">@Model.Apprenticeships.Count(x => !x.CanBeApprove)</h2>
            <p class="heading-small">@PluraliseIncompleteRecords(Model.Apprenticeships.Count(x => !x.CanBeApprove))</p>
        </div>
    </div>
    <div class="column-one-third total-cost">
        <div class="">
            <h2 class="bold-xlarge">&pound;@Model.Apprenticeships.Sum(x => x.Cost ?? 0).ToString("N0")</h2>
            <p class="heading-small">Total cost</p>
        </div>
    </div>
</div>

<div class="grid-row">
        <div class="column-one-half employer-details">
            <p><span class="strong">Employer: </span>@Model.LegalEntityName</p>
            <p><span class="strong">Cohort reference: </span>@Model.Reference</p>
            <p><span class="strong">Status: </span>@Model.Status.GetDescription()</p>
        </div>

        <div class="column-one-half employer-details">
            <p class="strong">Note:</p>
            <p>@(string.IsNullOrWhiteSpace(Model.LatestMessage) ? "No note added" : Model.LatestMessage)</p>
        </div>
    </div>

    @functions {
        public string GetApprenticesCountText(IList<ApprenticeshipListItemViewModel> apprenticeships)
        {
            if (apprenticeships.Count == 1)
                return "1 Apprentice";

            return $"{apprenticeships.Count} Apprentices";
        }

        public string FormatCost(decimal? cost)
        {
            if (!cost.HasValue)
                return string.Empty;

            return $"£{cost.Value:n0}";
        }

        public string PluraliseApprentice(int count)
        {
            return count == 1 ? "Apprentice" : "Apprentices";
        }

        public string PluraliseIncompleteRecords(int count)
        {
            return count == 1 ? "Incomplete record" : "Incomplete records";
        }

    }

    @helper GetValueOrDefault(string property)
    {
if (!string.IsNullOrEmpty(property))
{
        <span>@property &nbsp;</span>
}
else
{
        <span class="missing">@Html.Raw("&ndash;")</span>
}
}
<div class="grid-row">
        <div class="column-full bulk-upload-buttons">
            <hr class="hr-top">

            @{ var finishEditingText = Model.PendingChanges ? "Save and continue" : "Continue to approval"; }
            <a class="button finishEditingBtn" href="@Url.Action("FinishEditing")" aria-label="@finishEditingText">@finishEditingText</a>
            <a href="@Url.Action("Create", new { Model.ProviderId, Model.HashedCommitmentId })" class="button button-secondary" aria-label="Add an apprentice">Add more apprentices</a>
            <a href="@Url.Action("UploadApprenticeships", "BulkUpload", new { Model.ProviderId, Model.HashedCommitmentId })" class="button button-secondary upload-btn" aria-label="Bulk upload apprentices">Bulk upload apprentices</a>
            
            @*<hr class="hr-bottom">*@
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            @if (!Model.HasApprenticeships)
            {
                <div class="panel panel-border-wide alert-default">
                    <p>You haven't added any apprentices yet. Use the options on this page to add apprentices.</p>
                </div>
            }
        </div>
    </div>

    @if (Model.Apprenticeships.Count > 0)
    {
        <div class="grid-row">
            <div class="column-full">


                @foreach (var trainingGroup in Model.Apprenticeships.OrderBy(g => g.TrainingName).GroupBy(g => g.TrainingCode))
                {
                    var groupName = String.IsNullOrEmpty(trainingGroup.Key) ? "No training course" : @trainingGroup.First().TrainingName;
                    var groupTitle = String.Format($"{trainingGroup.Count()} x {groupName}");
                    var trainingCode = String.IsNullOrEmpty(trainingGroup.Key) ? String.Empty : @trainingGroup.First().TrainingCode;

                    <div class="group-header">

                        <h3 class="heading-medium group-title">@groupTitle</h3>
                        @if (!String.IsNullOrEmpty(trainingCode))
                        {
                            <p>Training code: @trainingCode</p>
                        }
                        
                    </div>

                        <table class="tableResponsive providerList">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">ULN</th>
                                    <th scope="col">Training course</th>
                                    <th scope="col">Training dates</th>
                                    <th scope="col" colspan="2">Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in trainingGroup.OrderBy(a => a.CanBeApprove))
                                {
                                    <tr>
                                        <td>@GetValueOrDefault(item.ApprenticeshipName)</td>
                                        <td>@GetValueOrDefault(item.ULN)</td>
                                        <td>@GetValueOrDefault(item.TrainingName)</td>
                                        <td>
                                            @if (item.StartDate != null && item.EndDate != null)
                                            {
                                                <span>
                                                    @item.StartDate.Value.ToGdsFormatWithoutDay() to @item.EndDate.Value.ToGdsFormatWithoutDay() &nbsp;
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="missing">&ndash;</span>
                                            }
                                        </td>
                                        <td>@GetValueOrDefault(FormatCost(item.Cost))</td>
                                        <td><a href="@Url.Action("Edit", new {Model.HashedCommitmentId, item.HashedApprenticeshipId})" title="Edit @item.ApprenticeshipName" aria-label="Edit @item.ApprenticeshipName">Edit details</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        }

                    </div>
        </div>
    }

    @section breadcrumb {
        <div class="breadcrumbs">
            <a href="@Model.BackLinkUrl" aria-label="Back" class="back-link">Back</a>
        </div>
    }



