@using SFA.DAS.ProviderApprenticeshipsService.Web.Extensions
@using SFA.DAS.ProviderApprenticeshipsService.Web.Models

@model ApprenticeshipViewModel

@{
    ViewBag.Title = "Edit an apprentice";
    ViewBag.PageId = "edit-apprentice";
}

@section pageSpecificJS {
    @Scripts.Render("~/bundles/apprentice")
}


<div class="grid-row">
    <div class="column-two-thirds">

        <form method="POST" action="@Url.Action("Edit")" novalidate="novalidate">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            @Html.AntiForgeryToken()
            <h1 class="heading-xlarge">Edit apprentice details</h1>

            <div class="panel panel-border-wide add-edit-desc">
                <p>You must add the apprentice’s first and last names - fill in as many other fields as you can. You'll be able to return later to make changes or add more information.    </p>
                <p>You can only receive payments for this apprentice if:</p>
                <ul class="list list-bullet">
                    <li>all the fields have been completed - either by yourself or the employer</li>
                    <li>the data matches the individualised learner record (ILR) data you send us</li>
                </ul>
            </div>
            <hr />

            @Html.Partial("EditApprenticeship", Model)

        
            <div class="form-group">
                <hr />
                <div class="grey-background">
                    <p class="form-label-bold">End-point assessments</p>
                    <p>For apprenticeship standards, we'll contact employers to ask them to add details of their chosen <a href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations" target="_blank" title="Opens in a new window">end-point assessment organisation</a>. We’ll do this before the final gateway stage of the apprenticeship.</p>
                </div>
            </div>

            <button type="submit" class="button">Save</button>
            <a class="button delete-button" href="@Url.Action("DeleteConfirmation", new { Model.HashedCommitmentId, Model.HashedApprenticeshipId })" aria-label="Cancel">Delete</a>

            <a class="links" href="@Url.Action("Details", new { Model.HashedCommitmentId })" aria-label="Cancel">Cancel</a>

        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", new { Model.HashedCommitmentId })" aria-label="Back" class="back-link">Back</a>
    </div>
}
