@using SFA.DAS.ProviderApprenticeshipsService.Web.Extensions
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.CommitmentListViewModel

@{
    ViewBag.Title = "Requests in progress";
    ViewBag.PageId = "requests-in-progress";
}

<div class="grid-row">
    <div class="column-full">
        @*<a href="@Url.Action("Index","Home")" aria-label="Back" class="link-back">Back</a>*@
        <h1 class="heading-xlarge">Requests in progress</h1>

        @if (Model.Commitments.Count == 0)
        {
            <div class="panel panel-border-wide alert-default">
               
                    <p>You don’t have any requests in progress.</p>
               
            </div>
        }
        else
        {
            <table class="tableResponsive employerListing">
                <thead>
                    <tr>
                        <th>Employer</th>
                       
                        <th>Cohort reference</th>

                        <th colspan="2">Status</th>
                    
                    </tr>
                </thead>
                <tbody>
                    @foreach (var commitment in Model.Commitments)
                    {
                        <tr>
                            <td>
                                @commitment.LegalEntityName &nbsp;
                            </td>
                            <td>
                                @commitment.Reference &nbsp;
                            </td>
                            <td>
                                @commitment.Status.GetDescription()
                            </td>

                            <td>
                                @if (commitment.ShowViewLink)
                                {
                                    <a href="@Url.Action("Details", new { Model.ProviderId, commitment.HashedCommitmentId })" title="View  @commitment.LegalEntityName" aria-label="View  @commitment.LegalEntityName">View</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
