@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.CommitmentListViewModel

<div class="grid-row">
    <div class="column-two-thirds">
    @if (Model.NumberOfTasks > 0)
    {
        @*<h2 class="heading-medium">Tasks</h2>
        <p>Any commitments that need your attention are shown below:</p>
        if (Model.NumberOfTasks == 1)
         {
             <p>You have <span class="bold-small">1</span> task to complete.
             </p>
         }
         else
         {
             <p>You have <span class="bold-small">@Model.NumberOfTasks.ToString()</span> tasks to complete.
             </p>
         }
        if (Model.NumberOfTasks > 0)
         {
             <a href="@Url.Action("Index", "Tasks", new {providerId = Model.ProviderId})" class="link">View tasks</a>
         }
        <hr/>*@
    }
    </div>
</div>

<div class="grid-row">
    <div class="column-full">

        <h1 class="heading-xlarge">Requests in progress</h1>

        <p>Any commitments that are new or that you are discussing with an employer are listed below:</p>

        @if (Model.Commitments.Count == 0)
        {
            <div class="emptyStateAlert">
                <div class="emptyStateCopyDetails" aria-label="Information">
                    <p>No commitments exist for this account.</p>
                </div>
            </div>

        }
        else
        {


            <table class="tableResponsive employerListing">
                <thead>
                    <tr>
                        <th>Employer</th>
                        <th colspan="3">Reference</th>
                    
                    </tr>
                </thead>
                <tbody>
                    @foreach (var commitment in Model.Commitments)
                    {
                        <tr>
                            <td>
                                @commitment.LegalEntityName  
                            </td>
                            <td>
                                @commitment.Name
                            </td>
                            
                            <td>
                                <a class="button" href="@Url.Action("Details",
                                      new { providerId = commitment.ProviderId, commitmentId = commitment.Id })" aria-label="View">View</a>
                            </td>

                            <td>
                                    <form action="@Url.Action("Submit")" method="GET">
                                        <input type="hidden" name="providerId" value="@commitment.ProviderId" />
                                        <input type="hidden" name="commitmentId" value="@commitment.Id" />
                                        <button type="submit" name="commitment">Submit</button>
                                    </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
