@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.ApprovedViewModel

@{
    ViewBag.Title = "Request approved";
    ViewBag.PageId = "request-approved";
}

<div class="grid-row">
    <div class="column-full">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge" id="changeHeadline">
                @Model.Headline
            </h1>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

        <table class="instructions-sent">
            <tbody>
                <tr>
                    <td>Cohort reference</td>
                    <td class="strong">@Model.CommitmentReference</td>
                </tr>
                <tr>
                    <td>Employer </td>
                    <td class="strong">@Model.EmployerName</td>
                </tr>
                <tr>
                    <td>Approved by</td>
                    <td class="strong">@Model.ProviderName</td>
                </tr>
            </tbody>
        </table>

        <h2 class="heading-medium">What happens next?</h2>
            
        @if (Model.IsTransfer && Model.ChangeOfPartyRequestId == null)
        {
            <ul class="list list-bullet text">
                <li>
                    You’ll receive a notification once the funding employer approves or rejects the transfer request and can view the progress of a request in the with transfer sending employers section.
                </li>
                <li>
                    Once the transfer request is approved, you'll be able to <a href="@Url.Action("Index", "ManageApprentices")">view and manage the apprentices</a>
                </li>
            </ul>
        }
        else
        {
            <p id="changeMainCopy">
                Your cohort has been approved. To update the details for any apprentices in this cohort you will need to
                <a href="@Url.Action("Index", "ManageApprentices")">manage your apprentices</a>.
            </p>
        }

        @if (Model.ShowApprenticeEmail)
        {
            <p>
                Your apprentice will now receive an email alert inviting them to the My apprenticeship service where they will review and confirm their apprenticeship details.
            </p>
        }

        @if (Model.HasOtherCohortsAwaitingApproval)
        {
            <a href="@Url.Action("ReadyForReview")">Return to Approve cohorts</a>
        }
        else
        { 
            <a href="@Url.Action("Cohorts", "Commitment")">Return to your cohorts</a>
        }

    </div>

    <div class="column-one-third">
        <aside>
            <div class="panel panel-filled">
                <h2 class="heading-medium">Help us improve this section</h2>
                <p>Take a 3 minute survey about adding apprentices so that we can improve the service.</p>
                <a href="https://www.surveymonkey.co.uk/r/viewlevy" target="_blank" class="button" title="Take the survey" aria-label="Take the survey">Take the survey</a>
            </div>
        </aside>
    </div>

</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "Home")" aria-label="Back to account home" class="back-link">Back to account home</a>
    </div>
}